# VS code user-specific files
*.suo
*.user
*.sln.docstates
.vs/
.vscode/

# VS code extensions
.favorites.json

# Python
*.pyc
__pycache__/
venv/
.env

# Data
*.json

# Database
db/
*.sqlite3

# Output
# Folders inside output
/output/*/
